/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
Student Number: 5103355915, 6105091917, 011005906

Name: Jake Smith, Dion Bird, Mitch Stone

Date: 10/06/18

Purpose: Styling

Known Bugs:
*/

#vb_selectionDetails .label, .radio-button{
    -fx-text-fill: #ffffff;
}

#vb_selectionDetails .button {
    -fx-pref-width: 150px;
    -fx-pref-height: 35px;
}

#vb_searchDetails .label{
}

#vb_searchDetails .button {
    -fx-pref-width: 150px;
    -fx-pref-height: 35px;
}

#lbl_subHeadings{
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}

#vb_navButtons .label{
    -fx-font-size: 20;
}

#rbtn_group {
    -fx-text-fill: #ffffff;
}

#background {   
    -fx-background-color: #333333;  
}

#background .label{
    -fx-text-fill: #ffffff;
}

#admin_header {
    -fx-text-fill: #ffffff;
}

#header_panel {
    -fx-background-color: #ff8700;
}

#btn_labels {
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}

#lbl_header, #lbl_selection_header  {
    -fx-text-fill: #ffffff;
    -fx-font-size: 24;
}

#lbl_windowHeader {
    -fx-text-fill: #ffffff;
}

#hb_buttons .buttons {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
#titlePane {
    -fx-background-color: #78c14b;
}


#greyButtons{
    -fx-background-color:   #404040;
    -fx-border-color: #1a1a1a;
    -fx-text-fill: white;
}
#greenButtons{
    -fx-background-color: #78c14b;
    -fx-text-fill: white;

}   
#textfieldGrey{
    -fx-background-color: #666564;
    -fx-text-fill: white;
}




