/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/05/2018, 10:12:34 PM
    Author     : mitch
*/

#vb_selectionDetails .label, .radio-button{
    -fx-text-fill: #ffffff;
}

#vb_selectionDetails .button {
    -fx-pref-width: 150px;
    -fx-pref-height: 35px;
}

#vb_searchDetails .label{
    -fx-text-fill: #ffffff; 
}

#vb_searchDetails .button {
    -fx-pref-width: 150px;
    -fx-pref-height: 35px;
}

#vb_navButtons .label{
    -fx-font-size: 20;
}

#rbtn_group {
    -fx-text-fill: #ffffff;
}

#background {
    
    -fx-background-color: #333333;
    
}

#admin_header {
    -fx-text-fill: #ffffff;
}

#header_panel {
    -fx-background-color: #ff8700;
}

#btn_labels {
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}

#lbl_header, #lbl_selection_header  {
    -fx-text-fill: #ffffff;
    -fx-font-size: 24;
}

#lbl_windowHeader {
    -fx-text-fill: #ffffff;
}

#hb_buttons .buttons {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}